@page "/template"

<PageTitle>@TitlePage</PageTitle>

<MudContainer Class="pa-4">
    <MudGrid Justify="Justify.FlexStart">
        <MudItem xs="12">
            <MudPaper Elevation="1" Class="pa-4" Square="false">
                <MudText GutterBottom="true" Typo="Typo.h6">
                    <div style="display: flex; align-items: center;">
                        @if (OperatingSystem.IsBrowser())
                        {
                            <MudIcon Icon="@Icons.Material.Filled.TravelExplore" Color="Color.Primary" style="margin-right: 8px;" />
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Material.Filled.Dns" Color="Color.Primary" style="margin-right: 8px;" />
                        }
                        <span>Interactive Counter @(OperatingSystem.IsBrowser() ? "Wasm" : "Server")</span>
                    </div>
                </MudText>
                <MudText Class="word-wrap" GutterBottom="true" Typo="Typo.subtitle2">@DescritionPage</MudText>

                <MudText Color="Color.Primary">
                    @(OperatingSystem.IsBrowser() ? "Running on WebAssembly" : "Running on Server")
                </MudText>

                <MudButton Class="mt-2"
                           Color="Color.Primary"
                           Disabled="@(!OperatingSystem.IsBrowser())"
                           Variant="Variant.Filled">
                    button
                </MudButton>

                <MudText 
                    Class="mt-2" 
                    GutterBottom="true" 
                    Typo="Typo.body1">
                    text
                </MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>