@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Interactive Counter</PageTitle>

<MudContainer Class="pa-4">
    <MudGrid Justify="Justify.FlexStart">
        <MudItem xs="12">
            <MudPaper Elevation="1" Class="pa-4" Square="false">
                <MudText GutterBottom="true" Typo="Typo.h6">
                    <div style="display: flex; align-items: center;">
                        @if (OperatingSystem.IsBrowser())
                        {
                            <MudIcon Icon="@Icons.Material.Filled.TravelExplore" Color="Color.Primary" style="margin-right: 8px;" />
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Material.Filled.Dns" Color="Color.Primary" style="margin-right: 8px;" />
                        }

                        <span>Interactive Counter @(OperatingSystem.IsBrowser() ? "Wasm" : "Server")</span>
                    </div>
                </MudText>

                <MudText Color="Color.Primary">Current count: @_currentCount</MudText>

                <MudText Color="Color.Primary">
                    @(OperatingSystem.IsBrowser() ? "Running on WebAssembly" : "Running on Server")
                </MudText>
                
                <MudButton Class="mt-2"
                           Color="Color.Primary"
                           Disabled="@(!OperatingSystem.IsBrowser())"
                           OnClick="IncrementCount"
                           Variant="Variant.Filled">
                    Increment
                </MudButton>

                <MudText Typo="Typo.body1" GutterBottom="true" Class="mt-2">
                    Click 'Increment' to increase the count.
                </MudText>
            </MudPaper>
            </MudItem>
        </MudGrid>
    </MudContainer>
